/* =================================================================================
styles for pages
================================================================================= */

.gray-trans {
	background-color: rgba(0, 0, 0, .51);
}
.hideme {
    opacity:0;
}
section {
	text-align: center;
	position: relative;
	overflow: auto;
	&.pink {
		background-color: #f6ced6;
		.copy {
			.heading, .sub-heading, .txt {
				color: @gray;
				line-height: 1;
				margin: 0 auto;
			}
		}
	}
	&.gray {
		background-color: #56565a;
		.copy {
			color: @brown;
			.heading, .sub-heading, .txt {
				color: @brown;
				line-height: 1;
				margin: 0 auto;
			}
		}
	}

	&.top {
		.copy-container {
			padding: 60px 0;
			.copy {
				text-align: center;
				.heading {
					color: @pink;
					font-size: 4em;
					font-family: @brand-font-serif;
					margin: 0 auto;
					font-variant: small-caps;
				}
				.sub-heading {
					color: @pink;
					font-size: 3.5em;
					font-family: @brand-font-serif;
					font-style: italic;
					margin: 0 auto;
				}
			}
			.fadeIn {
				opacity: 0;
			}
		}
	}
	.copy-container {
		text-align: center;
		.copy {
			padding: 200px 0;
			.heading, .sub-heading, .txt {
			}
			.heading {
				font-size: 3em;
				font-family: @brand-font-serif;
				width: 62%;
				margin: 0 auto;
				font-variant: small-caps;
			}
			.sub-heading {
				font-size: 2.5em;
				font-family: @brand-font-serif;
				margin: 0 auto 20px;
				width: 65%;
			}
			.txt {
				font-size: 1em;
				font-family: @brand-font-sans;
				line-height: 1.7;
				margin: 40px auto 0;
				width: 70%;	
			}
		}
	}
	&.map-container { //map on the about page
		background-color: @gray;
		height: 763px;
		.map {
			background-position: center 210px;
			background-repeat: no-repeat;
			height: 763px;	
			.copy-container {
				text-align: center;
				.copy {
					padding: 125px 0 100px 0;	
					.heading {
						color: @brown;
						font-size: 3em;
						font-family: @brand-font-serif;
						font-variant: small-caps;
						width: 60%;
						margin: 0 auto;
					}
					.sub-heading {
						color: @brown;
						font-size: 2.5em;
						font-family: @brand-font-serif;
						width: 60%;
						margin: 0 auto;
					}
				}
			}
		}
	}
	&.para {
		.gray-overlay {
			background-color: rgba(0, 0, 0, .51);
			width: 100%;
			height: 100%;
			.copy-container {
				.copy {
					.heading, .sub-heading, .txt {
						color: @white;
					}
				}
			}
		}
	}
	&.parallax {
		background-repeat: no-repeat;
		background-size: cover;
	}
}

// Medium and larger
@media screen and (min-width: @screen-md-min) { // 992 & larger
	section {  
		&.top {
			.top-inner {
				background: none !important;
			}	
		}
		&.para {
			.para-inner {
				background: none !important;
			}	
		}
	}
}

// Large and larger
@media screen and (min-width: @screen-lg-min) { // 1200 & larger
	section {  }
}
// Small and larger
@media screen and (min-width: @screen-sm-min) { // 768 & larger
	section {  
	}
}

/***************************************************************************/
/* X-Small only */
/***************************************************************************/
@media screen and (max-width: @screen-xs) { // 480 or smaller

	section {  
		&.top { 
			max-height: 480px;
			.top-inner {
				background-position: center center;
				background-size: cover;
				max-height: 600px;
				.copy-container {
					padding: 100px 0;
				}
			}
			.copy-container .copy {
				padding: 100px 0;
				.heading {
					width: 100%;
					font-size: 2em;
				}
				.txt {
					width: 100%;
				}
			}
		}
		&.para {
			max-height: 470px;
			.para-inner {
				background-position: center center;
				background-size: cover;
				height: 100%;
				.copy-container {
					padding: 100px 0;
				}
			}
		}
		.copy-container .copy {
				padding: 100px 0;
			.heading {
				width: 100%;
				font-size: 2em;
			}
			.sub-heading {
				width: 100%;
				font-size: 1.5em;
			}
			.txt {
				width: 100%;
			}
		}
	}
}


// Small only
@media screen and (min-width: @screen-xs-min) and (max-width: @screen-xs-max) { // 480 & 767

	section { 
		&.top { 
			max-height: 700px;
			.top-inner {
				background-position: center center;
				background-size: cover;
				max-height: 600px;
				.copy-container {
					padding: 100px 0;
				}
			}
		}
		&.para {
			max-height: 470px;
			.para-inner {
				background-position: center center;
				background-size: cover;
				height: 100%;
				.copy-container {
					padding: 100px 0;
				}
			}
		}
		.copy-container .copy {
			padding: 100px 0;
			.heading {
				width: 100%;
				font-size: 2em;
			}
			.sub-heading {
				width: 100%;
				font-size: 1.5em;
			}
			.txt {
				width: 100%;
			}
		}
	}

}

// Medium only
@media screen and (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { // 768 & 991 

	section { 
		&.top { 
			max-height: 800px;
			.top-inner {
				background-position: center center;
				background-size: cover;
				height: 100%;
				.gray-trans {
					height: 60%;
				}
				.copy-container .copy {
					padding: 10% 0;
				}
			}
		}
		&.para {
			max-height: 600px;
			.para-inner {
				background-position: center center;
				background-size: cover;
				height: 100%;
				.copy-container {
					padding: 100px 0;
				}
			}
		}

	}

}